{% extends 'base.html.twig' %}

{% block title %}Problems{% endblock %}

{% block body %}
    <div class="container mt-5 table-responsive">
        <table class="table table-striped align-middle table-hover caption-top test-info">
            <caption>Available problems</caption>
            <thead>
                <th>Id</th>
                <th>Title</th>
                <th>difficulity</th>
                <th>Solves</th>
                <th>Success Rate</th>
                <th></th>
            </thead>
            <tbody>
                {% for problem in problems %}
                    <tr>
                        <td>{{ problem.id }}</td>
                        <td>
                            <a href="{{ path('problems_show', {id: problem.id}) }}"><h6 class="text-info">{{ problem.title }}</h6></a>
                            <small>{{ problem.category }}</small>
                        </td>
                        <td><h6 class="text-secondary">{{ problem.difficulty }}</h6></td>
                        <td>{{ problem.successCount }}</td>
                        <td>{{ problem.acceptanceRate }} %</td>
                                                <td>
                            {% set diff = problem.createdAt and date().diff(problem.createdAt).days < 5 ? 'New' : '' %}
                            {{ diff }}
                        </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
