{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <div class="container mt-5 table-responsive">
        <table class="table table-striped align-middle table-hover caption-top test-info">
            <caption>Users</caption>
            <thead>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Rating</th>
                <th scope="col">Role</th>
                <th scope="col">Creation date</th>
                <th scope="col">Last update</th>
            </thead>
            <tbody class="table-group-divider">
                {% for user in users %}
                    <tr>
                        <td scope="row">{{ user.id }}</td>
                        <td scope="col"><h6 class="text-info">{{ user.username }}</h6></td>
                        <td><h6 class="text-secondary">{{ user.email }}</h6></td>
                        <td>{{ user.rating }}</td>
                        <td>{{ user.isAdmin ? 'Admin' : 'User' }}</td>
                        <td>{{ user.createdAt|date('Y-m-d H:i:s') }}</td>
                        <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td><a href="{{ path('profile_show_current', {user_id: user.id}) }}" class="btn btn-primary">Manage</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
